@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --bg-color: #aab0bb;
  --text-color: #000;
  --alt-gray: #9ca3af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #242424;
    --text-color: #f2f3f4;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.25rem;
  padding-inline: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  text-align: center;
  margin: 0 auto;
  max-width: 50rem;
}

h1 {
  padding-block: 1rem;
}

p {
  text-align: justify;
  padding-inline: 1.25rem;
  padding-block: 1rem;
}

button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: all 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  &:focus {
    border: 0.125rem solid var(--alt-gray);
    transform: scale(1.1);
  }
}

footer {
  position: absolute;
  bottom: 0;
  font-size: xx-small;
}
